{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Vebra Alto Wrapper plugin for Craft CMS 3.x
 *
 * Vebra Alto Wrapper index.twig
 *
 * @author    Luca Jegard
 * @copyright Copyright (c) 2018 Luca Jegard
 * @link      https://github.com/Jegard
 * @package   VebraAltoWrapper
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# {% do view.registerAssetBundle("jegardvebra\\vebraaltowrapper\\assetbundles\\vebraaltowrapper\\VebraAltoWrapperAsset") %} #}
{% do view.registerAssetBundle("jegardvebra\\vebraaltowrapper\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/https://github.com/Jegard/vebra-alto-wrapper/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Vebra Alto Wrapper"|t('vebra-alto-wrapper') %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('vebra-alto-wrapper') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@jegardvebra/vebraaltowrapper/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('vebra-alto-wrapper') }}</a>
    </div>
{% endset %}

{% import "_includes/forms" as forms %}

{# The content of the CP Section#}
{% set content %}
    <form method="get" action="{{ siteUrl }}actions/vebra-alto-wrapper/default/set-section" class="field">
        <h2>Create new API link</h2>
        <div class="input flex-top">

            <div class="field" id="sections-field">
                <div class="heading">
                    <label id="sections-label" for="sections">Select Section</label>
                <div class="instructions">
                    <p>Select Section</p>
                </div>
                </div>
                <div class="input ltr">
                <div class="select">
                <select id="sections" name="sectionId">
                {# {% for sectionName in craft.sections.getAllSections() %} #}
                {% for sectionName in craft.app.sections.allSections %}
                <option value="{{ sectionName.id }}">{{ sectionName.handle }}</option>
                {% endfor %}
                </select>
                </div>

                </div>
            </div>

            {{ forms.selectField({
                label: 'Select Branch',
                instructions: 'Select Branch',
                id: 'branch',
                name: 'branch',
                options: craft.vebraAltoWrapper.getAllBranches()
                
                })
            }}
            <div class="field">
                <input type="submit" class="btn submit" value="create">
            </div>
        </div>
    </form>
    <hr>
    <h2>Current Links</h2>
    {% set currentLinks = craft.vebraAltoWrapper.getAllLinkModels() %}
    {% for link in currentLinks %}
    <div class="link-block">
        {# {% set section = craft.sections.getSectionById( link.sectionId ) %} #}
        {% set section = craft.app.sections.getSectionById( link.sectionId ) %}
        <div class="link-head">
            <h2>Section: {{ section.handle }}</h2>
            <h2>Branch: {{ link.branch }}</h2>
            <form action="{{ siteUrl }}actions/vebra-alto-wrapper/default/delete-link">
                <input type="hidden" name="sectionId" value="{{ link.sectionId }}">
                <input type="submit" class="btn" value="Delete">
            </form>
        </div>
        <hr>
        <form action="{{ siteUrl }}actions/vebra-alto-wrapper/default/set-map">
        <input type="hidden" name="sectionId" value="{{ section.id }}">
        <table>
            <thead>
                <tr>
                    <th>
                        Field
                    </th>
                    <th>
                        Vebra Field
                    </th>
                </tr>
            </thead>
            {# <tr>
                <td>postDate</td>
                <td>
                {{ forms.selectField({
                    name: 'fieldMapping[postDate]',
                    options: craft.vebraAltoWrapper.getSchema(),
                    value: craft.vebraAltoWrapper.getLinkByField( section.id , 'postDate' )
                    })
                }}
                </td>
            </tr> #}
            {% for field in section.getEntryTypes()[0].getFieldLayout().getFields() %}
            <tr>
                <td>{{ field.handle }}</td>
                <td>
                {{ forms.selectField({
                    name: 'fieldMapping[' ~ field.handle ~ ']',
                    options: craft.vebraAltoWrapper.getSchema(),
                    value: craft.vebraAltoWrapper.getLinkByField( section.id , field.handle )
                    })
                }}
                </td>
            </tr>
            {% endfor %}
        </table>
        <input class="btn submit" type="submit" value="Save mapping">
        </form>
        <form action="{{ siteUrl }}actions/vebra-alto-wrapper/default/update-branch">
        <input type="hidden" name="sectionId" value="{{ section.id }}">
        <input type="hidden" name="branch" value="{{ link.branch }}">
        <hr>
        <input type="submit" value="Update branch" class="btn submit">
        <div class="right">
            <label class="meta">URL to use for cron jobs<label>
            <input type="text" value="{{ siteUrl }}actions/vebra-alto-wrapper/default/update-branch?{{ { 'sectionId' : section.id, 'branch' : link.branch } | url_encode }}">
        </div>
        </form>

        
    </div>
    {% endfor %}
    {# <a href="{{ siteUrl }}actions/vebra-alto-wrapper/default/update-all" class="submit btn" target="_blank">Update All</a> #}
{% set css %}
.link-block {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #e3e5e8;
    border-radius: 3px;
}
.right {
    float: right;
}
.flex-top {
   display: flex;
   align-items: baseline;
}
.meta {
    color: #8f98a3;
}
.flex-top .field {
    margin: 1em;
}
.flex-top .field:last-of-type {
    align-self: self-end;
}
.link-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
table {
    width: 100%;
}
td {
    padding: 5px 0;
}

{% endset %}
{% includeCss css %}
{% endset %}
